@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: rgb(230, 230, 230);
}

nav {
    display:block;
    width: 20vw;
    height: 100vh;
    background-color: white;
    position:relative; top: auto; left: auto;
    border-right: solid rgba(0, 0, 0, 0.377) 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.281);
}

nav>hr{
    margin-left: 15px;
    margin-right: 20px;
}

nav > img {
    margin: 15px;
    width: 85%;
    height: 13%;
    box-sizing: content-box;
}

nav > a{
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-bottom: 5px;
}


header {
    display: flex;
    flex-direction: row;
    position: absolute; left: 23.5%;
    background-color: rgb(218, 218, 218);
    margin: 20px;
    width: 72%;
    height: 10%;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.containerhi{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    align-content: center;
    width: 40%;
}

.containerhf{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    align-content: center;
}

header > div.containerhf > p {
    border-right: solid black 1px;
    padding: 10px;
    padding-right: 25px;
}

header > div.containerhf > a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
}

header > div.containerhi> input {
    margin-left: 25px;
    border: solid 1px rgb(230, 230, 230);
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    padding: 7px;
    width: 150%;
}

header > div.containerhi > button {
    background-color: rgb(218, 218, 218) ;
    border: none;
}

header > div.containerhf > img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

main {
    position: absolute; left: 22%; top: 15%;
    margin: 20px;
    background-color: white;
    width: 75vw;
    height: 75vh;
}


::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

iframe#tela{
    width: 75vw;
    height: 75vh;
}