@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: gray;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

h2 {
    font-size: 20px;
    margin-left: 10px;
}

a {
    margin: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(45, 45, 165);
    padding: 15px 80px;
    border-radius: 5px;
    font-weight: bold;
}



table{
    margin: 10px 25px;
    width: 96%;
    border-collapse: collapse;
}

thead{
    border-bottom: 1px solid rgb(167, 167, 167);
}

tbody{
   border-bottom: 1px solid rgb(167, 167, 167);
}

th{
    margin: 5px;
    font-weight: normal;
}

td{
    color: black;
    margin: 5px;
}

main> table > thead > tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

main> table > tbody > tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


