@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: gray;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 70px;
}

h2{
    font-size: 22px;
    margin: 30px 10px 0px 10px;
}

input {
    margin: 20px 30px 0px 10px; 
    text-decoration: none;
    color: white;
    background-color: rgb(45, 45, 165);
    padding: 7px 75px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
}

input:hover{
    border: 0.5px solid rgba(255, 255, 255, 0.582);
    transform: translate(-0.2px, -0.2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    transition: transform 0.1s;
}

table{
    margin: 10px 15px 10px 25px;
    width: 94%;
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid rgb(167, 167, 167);
}

th{
    margin: 5px;
    font-weight: normal;
}

td{
    color: black;
    margin: 5px;
}

main> table > thead > tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

main> table > tbody > tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

@media print{
    .noprint {
        display: none;
    }

    *{
        background: transparent;
        color: black;
        text-shadow: none;
    }

}

@page {
    size: auto;
    margin: 0mm;
}