@charset "UTF-8";


@media screen and (min-width: 220px) and (max-width: 767px){
    
    header {
        position: absolute; left: 13.7%;
        margin: 20px 15px 20px 10px;
        width: 80%;
        height: 7%;
    }
    
    .containerhinicio{
        width: 45%;
    }
        
    header > div.containerhinicio> input {
        margin-left: 6px;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
    }
    
    header > div.containerhinicio > button {
        display: none;
    }
    
    .containerhfinal{
        gap: 8px;
    }
    
    header > div.containerhfinal > p {
        font-size: 11px;
        padding: 5px;
        padding-right: 8px;
    }
    
    header > div.containerhfinal > a {
        font-size: 11px;
        margin-right: 8px;
    }
    
    header > div.containerhfinal > img {
        display: none;
    }
    
    nav {
        display:block;
        width:10vw;
        height: 108vh;
    }
    
    nav>hr{
        margin-left: 2px;
        margin-right: 2px;
    }
    
    nav > img {
        display: none;
    }
    
    nav > a{
        font-size: 9px;
        margin-left: 3px;
        padding-top: 10px;
        text-align: center;
    }

    .bttexto{
        display: none;
    }
    
    main {
        position: absolute; left: 13%; top: 15%;
        margin: 6px;
        width: 83vw;
        height: 75vh;
    }
    
    iframe#tela{
        width: 83vw;
        height: 75vh;
    }
}

@media screen and (min-width: 767px) and (max-width: 992px){
    
    header {
        margin: 20px 15px 20px 10px;
        width: 74%;
        height: 7%;
    }
    
    .containerhinicio{
        gap: 5px;
        width: 40%;
    }
    
    header > div.containerhinicio> input {
        margin-left: 15px;
        padding: 5px;
        width: 100%;
    }
    
    header > div.containerhinicio > button {
        display: none;
    }
    
    .containerhfinal{
        gap: 10px;
    }
    
    header > div.containerhfinal > p {
        padding: 7px;
        padding-right: 15px;
    }
    
    header > div.containerhfinal > a {
        margin-right: 15px;
    }
    
    header > div.containerhfinal > img {
        width: 30px;
        height: 30px;
    }

    nav {
        width: 20vw;
        height: 100vh;
    }
    
    nav>hr{
        margin-left: 10px;
        margin-right: 20px;
    }
    
    nav > img {
        margin: 10px 5px 15px 10px;
        width: 84%;
        height: 5%;
    }
    
    main {
        margin: 0px 20px 20px 20px;
        width: 75vw;
        height: 80vh;
    }
    
    iframe#tela{
        width: 75vw;
        height: 80vh;
    }
}