@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h2{
    color:gray;
    font-weight: bolder;
    font-size: 22px;
}

.container{
    margin: 20px 20px 30px 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div> input{
    margin: 7px;
}


fieldset {
    border: none;
    border-top: 1px solid black;
    margin: 5px 20px 5px 30px;
}

legend{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 20px;
}

input{
    background-color: rgb(248, 246, 246);
    border: 1px solid rgb(230, 230, 230);
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

input#inome{
    width: 98%;
}

input#iendereco{
    width: 98%;
}

input#iidade{
    width: 15%;
    margin-right: 3%;
}

input#iemail{
    width: 77.7%;
}

label#lemail {
    position: relative;
    left: 16%;
}

textarea{
    background-color: rgb(248, 246, 246);
    border: 1px solid rgb(230, 230, 230);
    resize: none;
    margin: 10px 20px 10px 10px;
    width: 98%;
    height: 20vh;
}

footer.container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer > input{
    text-decoration: none;
    background-color: rgb(61, 151, 61);
    padding: 10px 70px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}