@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

h1 {
    margin: 30px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top:20px ;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
}