@charset "UTF-8";

    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body{
        background-color: rgb(230, 230, 230);
    }

    div#divlogin {
        background-color: white;
        height: 500px;
        width: 550px;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
             
    }

    
    div#logo_login{
        margin-top: 30px;
        background-color: white;
    }

    div#logo_login>img{
        border-radius: 50%;
        background-size: cover;
        height: 130px;
        margin: auto;
    }

    div.campo{
        border: 2px solid black;
        display: block;
        width: 250px;
        height: 40px;
        margin: 50px 150px auto;
    }

    div.campo>input {
        background-color: rgb(248, 246, 246);
        border: 0px;
        margin: 0px auto;
        padding: 0px;
        width: 100%;
        height: 100%;
        text-align: left;
        text-indent: 10px;
    }

    div#entrar {
        display: block;
        width: 250px;
        height: 40px;
        background-color: black;
        border-radius: 5px;
        margin: 50px 150px auto;
        border: 2px solid black;

    }

    div#entrar>input{
        font-size: 11px;
        border: none;
        border: 0px;
        margin-top: 14px;
        padding: 11px 100px;
        color: white;
        background-color: black;
        text-align: center;
        font-weight: bolder;
        margin: auto;
        cursor: pointer;       
        
    }

    #msgErroSenha{
        text-align: center;
        font-size: 10px;
        color: black;
        background-color: rgba(245, 125, 125, 0.815);
        padding: 6px;
        margin: 0px;
        width: 100%;
        display: none;
    }
    
    #msgValidoSenha{
        text-align: center;
        font-size: 10px;
        color: black;
        background-color: rgba(120, 247, 120, 0.808);
        padding: 6px;
        margin: 0px;
        width: 100%;
        display: none;
    }

    #msgErroEmail{
        text-align: center;
        font-size: 10px;
        color: black;
        background-color: rgba(245, 125, 125, 0.815);
        padding: 6px;
        margin: 0px;
        width: 100%;
        display: none;
    }
    
    #msgValidoEmail{
        text-align: center;
        font-size: 10px;
        color: black;
        background-color: rgba(120, 247, 120, 0.808);
        padding: 6px;
        margin: 0px;
        width: 100%;
        display: none;
    }